In [1]:
import sys
sys.path.append("../backtest")
from backtest import Backtest

In [2]:
data_dir = "../data"
backtest_codes, backtest_price = Backtest.prepare_data(data_dir)

In [3]:
portofolio_file_path = "../chapter06-tutorial-1.csv"
df_submit = Backtest.load_submit(portofolio_file_path)

In [4]:
df_results, df_stocks = Backtest.run(df_submit, backtest_codes, backtest_price)

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

In [5]:
df_results.head()

,day_1,day_2,day_3,day_4,day_5,date,holiday,bought,cash,week_pl,...,day_2_pl,day_3_return,day_3_pl,day_4_return,day_4_pl,day_5_return,day_5_pl,exp,std,sharp
0,1000011.0,1015693.0,1024074.0,1024074.0,1024074.0,2020-12-28,"[3, 4]",547626.0,452374.0,24074.0,...,15682.0,0.825151,8381.0,0.0,0.0,0.0,0.0,0.798145,0.78389,1.018184

In [6]:
df_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   day_1         1 non-null      float64
 1   day_2         1 non-null      float64
 2   day_3         1 non-null      float64
 3   day_4         1 non-null      float64
 4   day_5         1 non-null      float64
 5   date          1 non-null      datetime64[ns]
 6   holiday       1 non-null      object
 7   bought        1 non-null      float64
 8   cash          1 non-null      float64
 9   week_pl       1 non-null      float64
 10  week_return   1 non-null      float64
 11  day_1_return  1 non-null      float64
 12  day_1_pl      1 non-null      float64
 13  day_2_return  1 non-null      float64
 14  day_2_pl      1 non-null      float64
 15  day_3_return  1 non-null      float64
 16  day_3_pl      1 non-null      float64
 17  day_4_return  1 non-null      float64
 18  day_4_pl      1 non-null      float64
 19  day_5_return  1 non-null      float64
 20  day_5_pl      1 non-null      float64
 21  exp           1 non-null      float64
 22  std           1 non-null      float64
 23  sharp         1 non-null      float64
dtypes: datetime64[ns](1), float64(22), object(1)
memory usage: 320.0+ bytes

In [7]:
df_stocks.head()

,date,Local Code,budget,n,entry,day_1,day_2,day_3,day_4,day_5,bought,actual
0,2020-12-28,4165,20000,0,3500.0,3740.0,3670.0,3715.0,0.0,0.0,17500.0,5.0
1,2020-12-28,7694,20000,1,4210.0,4630.0,5040.0,5110.0,0.0,0.0,16840.0,4.0
2,2020-12-28,4167,20000,2,5300.0,6280.0,6330.0,7330.0,0.0,0.0,15900.0,3.0
3,2020-12-28,3677,20000,3,1055.0,1034.0,1075.0,1069.0,0.0,0.0,18990.0,18.0
4,2020-12-28,4493,20000,4,3160.0,3175.0,3395.0,3410.0,0.0,0.0,18960.0,6.0

In [8]:
df_stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        30 non-null     datetime64[ns]
 1   Local Code  30 non-null     int64
 2   budget      30 non-null     int64
 3   n           30 non-null     int64
 4   entry       30 non-null     float64
 5   day_1       30 non-null     float64
 6   day_2       30 non-null     float64
 7   day_3       30 non-null     float64
 8   day_4       30 non-null     float64
 9   day_5       30 non-null     float64
 10  bought      30 non-null     float64
 11  actual      30 non-null     float64
dtypes: datetime64[ns](1), float64(8), int64(3)
memory usage: 2.9 KB

参考すると良い部分
https://japanexchangegroup.github.io/J-Quants-Tutorial/#anchor-3.6
https://japanexchangegroup.github.io/J-Quants-Tutorial/#_%E3%83%90%E3%83%83%E3%82%AF%E3%83%86%E3%82%B9%E3%83%88